<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>zsomapell klod</title>
    </head>
    <body>
        <style>
            @font-face {
                font-family: Digital7;
                src: url('/static/digital7.otf');
            }
            @font-face {
                font-family: Futura;
                src: url('/static/hfutura2.otf');
            }
            html, body, #body {
                margin: 0;
                padding: 0;
                height: 100%;
                font-family: Futura;
            }
        </style>
        <div id="body"></div>

        <script src="/static/react.development.js"></script>
        <script src="/static/react-dom.development.js"></script>
        <script src="/static/material-ui.development.js"></script>
        <script src="/static/fontawesome-svg-core.js"></script>
        <script src="/static/fontawesome-free-solid-svg-icons.js"></script>
        <script src="/static/moment.min.js"></script>
        <script src="/static/react-draggable.min.js"></script>

        <script src="/static/bundle.js?v={{version}}"></script>

        {% if dev_mode: %}
            <script src="http://localhost:35729/livereload.js"></script>
        {% endif %}
    </body>
</html>
